@import "variables";
@import "reset";

:root {
  font-size: 16px;
  font-family: $font-base;
  color: $text;
}
body {
  background-color: $dark-background;
  display: flex;
  justify-content: center;
}
table {
  border-collapse: separate;
  width: 100%;
  border-bottom: 2px solid $pastel-yellow;
}
thead {
  color: $pastel-yellow;
}
td,
th {
  text-align: left;
  padding: 8px;
}
th {
  border-bottom: 2px solid $pastel-yellow;
}
td {
  font-family: $font-alt;
  font-weight: 300;
}
tr:nth-child(even) {
  background-color: $dark-table-secondary-color;
}
